@model Tweet

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8cd25ea642.js" crossorigin="anonymous"></script>
    <script src="~/js/Home.js"></script>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/img/icon.png">
    <title>Twitter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="row c">
            <div class=" fixLeftRight col-lg-3  d-none  d-lg-block " style="padding: 0%;">
                <aside class="mdc-drawer " style="background-color: white; width: auto;">
                    <nav class="mdc-list home" style="background-color: white;">
                        <div class="row">
                            <div class="col-12">
                                <div class="mdc-touch-target-wrapper changecolor">
                                    <a class="mdc-list-item  changecolor" style="border-radius: 100%;" href="#">
                                        <i class="fab fa-twitter fa-2x " style="color:#1DA1F2 ;" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <a class="mdc-list-item rounded-pill changecolor" href="#">
                                    <span class="mdc-list-item__ripple"></span>
                                    <i class="fas fa-home fa-2x" aria-hidden="true"></i>
                                    <span class="mdc-list-item__text  ml-4 setFont ">Home</span>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <a class="mdc-list-item rounded-pill changecolor" href="#">
                                    <span class="mdc-list-item__ripple"></span>
                                    <i class="fas fa-hashtag fa-2x" aria-hidden="true"></i>
                                    <span class="mdc-list-item__text  ml-4 setFont">Explore</span>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <a class="mdc-list-item rounded-pill changecolor" href="#">
                                    <span class="mdc-list-item__ripple"></span>
                                    <i class="far fa-bell fa-2x" aria-hidden="true"></i>
                                    <span class="mdc-list-item__text  ml-4 setFont">Notifications</span>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <a class="mdc-list-item rounded-pill changecolor" href="#">
                                    <span class="mdc-list-item__ripple"></span>
                                    <i class="far fa-envelope fa-2x" aria-hidden="true"></i>
                                    <span class="mdc-list-item__text ml-4 setFont">Messages</span>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <a class="mdc-list-item rounded-pill changecolor" href="#">
                                    <span class="mdc-list-item__ripple"></span>
                                    <i class="far fa-bookmark fa-2x" aria-hidden="true"></i>
                                    <span class="mdc-list-item__text ml-4 setFont">Bookmarks</span>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <a class="mdc-list-item rounded-pill changecolor" href="#">
                                    <span class="mdc-list-item__ripple"></span>
                                    <i class="far fa-list-alt fa-2x" aria-hidden="true"></i>
                                    <span class="mdc-list-item__text ml-4 setFont">Lists</span>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <a class="mdc-list-item rounded-pill changecolor">
                                    <span class="mdc-list-item__ripple"></span>
                                    <i class="far fa-user fa-2x"></i>
                                    <span class="mdc-list-item__text  ml-4 setFont">Profile </span>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <a class="mdc-list-item rounded-pill changecolor" href="#">
                                    <span class="mdc-list-item__ripple"></span>
                                    <i class="far fa-comment-dots fa-2x"></i>
                                    <span class="mdc-list-item__text  ml-4 setFont">More</span>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <button type="button" class="btn btn-block rounded-pill"
                                        style="color:white; background-color:#1DA1F2; text-align: center; box-shadow: none; width: 75%;">
                                    Tweet
                                </button>

                            </div>
                        </div>
                        <br />
                        <div class="row mt-5 " style="float: inline-start;">
                            <div class="col-12">
                                <button class=" btn rounded-pill btn-block " type="button"
                                        style="color:black; background-color:white;
                                        text-align: center; box-shadow: none; border: none;"></button>
                            </div>
                        </div>
                    </nav>
                </aside>
            </div>
            <!-- Orta -->
            <div class="col-lg-5 col-md-12 d-block " style="padding: 0%;">
                <!-- ortanın 1.si -->
                <div class="home">
                    <div class="card">
                        <div class="card-body" style="height: 50px; padding-top: 1rem;">
                            <div class="row">
                                <div class="col-10">
                                    <h5 style="font-weight: 800; size: 19px;">Home</h5>
                                </div>
                                <div class="col-2">
                                    <i class="fas fa-magic" style="color:#1DA1F2 ;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ortanın 2.si -->
                @using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="card">
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <img src="~/img/profil.png" alt="" style="border-radius:100%;">
                                </div>

                                <input 
                                       type="text" id="TwitterText" class="form-control ml-2 setFont2"
                                       style=" border: none; box-shadow: none;" placeholder="What's happening?"
                                       aria-label="Example text with button addon" aria-describedby="button-addon1">
                            </div>
                            <hr>
                            <div style="display: flex; float: left;">
                                <div>
                                    <div class="changecolor">
                                        <a class="mdc-list-item  changecolor" style="border-radius: 100%;" href="#">
                                            <i class="far fa-image fa-lg " style="color:#1DA1F2 ;" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <a class="mdc-list-item  changecolor" style="border-radius: 100%;" href="#">
                                        <i class="far fa-square fa-lg " style="color:#1DA1F2 ;" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div>
                                    <a class="mdc-list-item  changecolor" style="border-radius: 100%;" href="#">
                                        <i class="fas fa-poll-h fa-lg " style="color:#1DA1F2 ;" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div>
                                    <a class="mdc-list-item  changecolor" style="border-radius: 100%;" href="#">
                                        <i class="fas fa-smile fa-lg " style="color:#1DA1F2 ;" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div>
                                    <a class="mdc-list-item  changecolor" style="border-radius: 100%;" href="#">
                                        <i class="far fa-calendar-alt fa-lg" style="color:#1DA1F2 ;" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ml-4" style="float: right;">
                                <button asp-action="Profile" class="btn btn-block rounded-pill "
                                        style="color:white; background-color:#1DA1F2; text-align: center; width: auto; box-shadow: none; ">
                                    Tweet
                                </button>
                            </div>
                        </div>
                    </div>
                }
                @*<partial name="PartialViews/_TweetPartial" />*@
                <!-- Ortanın 3.alanı -->
                <!-- Ortanın 4. alanı -->
                <!-- Ortanın 8. alanı  Mobile bar -->
                <div class="row fixCenter  d-xl-none d-lg-none">
                    <nav class="navbar navbar-light  " style="background-color: white; width: 100%;">
                        <div class="col-3">
                            <button class="mdc-fab mdc-fab--mini" style="box-shadow: none; background-color: white;" aria-label="Favorite">
                                <div class="mdc-fab__ripple"></div>
                                <span class="fas fa-home fa-2x" style="color: gray;"></span>
                            </button>
                        </div>
                        <div class="col-3 c">
                            <button class="mdc-fab mdc-fab--mini " style="box-shadow: none; background-color: white;" aria-label="Favorite">
                                <div class="mdc-fab__ripple"></div>
                                <span class="fas fa-hashtag fa-2x" style="color: gray;"></span>
                            </button>
                        </div>
                        <div class="col-3  c">
                            <button class="mdc-fab mdc-fab--mini" style="box-shadow: none; background-color: white;" aria-label="Favorite">
                                <div class="mdc-fab__ripple"></div>
                                <span class="far fa-bell fa-2x" style="color:gray;"></span>
                            </button>
                        </div>
                        <div class="col-3  c">
                            <button class="mdc-fab mdc-fab--mini " style="box-shadow: none; background-color: white;" aria-label="Favorite">
                                <div class="mdc-fab__ripple"></div>
                                <span class="far fa-envelope fa-2x" style="color: gray;"></span>
                            </button>
                        </div>
                    </nav>
                </div>
            </div>

            <!-- Sağ -->
            <div class="col-lg-4 d-none d-lg-block fixLeftRight" style="background-color: white;">
                <!-- Sağ 1.Alan -->
                <div class="home">
                    <div class="row ">
                        <div class="col-12">
                            <div class="row ">
                                <div class="col-12 " style=" float:left;">
                                    <div class="input-group ">
                                        <input type="text" id="SearchProfile" class="form-control rounded-pill wrapper " placeholder="Search Twitter" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button onclick="ProfilePosts()" class="btn btn-outline-secondary rounded-pill wrapper"
                                                    type="button">
                                                <i class="fa fa-search" style="color: black;"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sağ 2.Alan -->
                <div class="card mt-2 bg-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-10">
                                <h5 style="size: 10px;"><strong>Trends for you</strong> </h5>
                            </div>
                            <div class="col-2">
                                <i class="fas fa-cog" style="color: #1DA1F2;"></i>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color: #F5F8FA;">
                            <div class="row">
                                <div class="col-10">
                                    <span style="size: 13px; font-weight: 400; color: #84939F;">Survival competition .Trending</span></br>
                                    <span style="size: 19px; font-weight: 700;">#hanzade</span><br />
                                    <span style="size: 13px; font-weight: 400; color: #84939F;">14.8K Tweets</span>
                                </div>
                                <div class="col-2">
                                    <i class="fas fa-chevron-down" aria-hidden="true"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" style="background-color: #F5F8FA ;">
                            <div class="row">
                                <div class="col-10">
                                    <span style="size: 13px; font-weight: 400; color: #84939F;">Celebrities . Trending</span><br />
                                    <span style="size: 19px; font-weight: 700;">#FilistinKazanıyor</span><br />
                                    <span style="size: 13px; font-weight: 400; color: #84939F;">41K Tweets</span>
                                </div>
                                <div class="col-2">
                                    <i class="fas fa-chevron-down" aria-hidden="true"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" style="background-color: #F5F8FA;">
                            <div class="row">
                                <div class="col-10">
                                    <span style="size: 13px; font-weight: 400; color: #84939F;">Politics.Trending</span></br>
                                    <span style="size: 19px; font-weight: 700;">#bakansoylu</span><br />
                                    <span style="size: 13px; font-weight: 400; color: #84939F;">38.3K Tweets</span>
                                </div>
                                <div class="col-2">
                                    <i class="fas fa-chevron-down" aria-hidden="true"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" style="background-color: #F5F8FA;">
                            <div class="row">
                                <div class="col-10">
                                    <span style="size: 13px; font-weight: 400; color: #84939F;">Trending in Tukey</span><br />
                                    <span style="size: 19px; font-weight: 700;">#ProtestoEdiyorum</span><br />
                                    <span style="size: 13px; font-weight: 400; color: #84939F;">4,942 Tweets</span>
                                </div>
                                <div class="col-2">
                                    <i class="fas fa-chevron-down" aria-hidden="true"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" style="background-color: #F5F8FA;">
                            <div class="row">
                                <div class="col-12">
                                    <a href="" style="text-decoration: none;">Show more</a>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 3.kısım -->
                <div class="card mt-2 bg-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12">
                                <h6><strong>Who to follow</strong> </h6>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color: #F5F8FA;">
                            <div class="row">
                                <div class="col-2">
                                    <img src="~/img/profil.png" alt="" style="border-radius: 100%;">
                                </div>
                                <div class="col-6">
                                    <span class="mdc-button__label ml-2" style="float: left; font-size: 15px; font-weight: 700;">Kuzey Güney</span>  </br>
                                    <span class="mdc-button__label ml-2" style="float: left;">kuzeygüney</span>
                                </div>
                                <div class="col-4" style="text-align: center;">
                                    <button type="button btn-outline-primary" class="btn  rounded-pill"
                                            style="color:#1DA1F2; border:#1DA1F2 ; text-align: center; border-width: 1px; border-style: solid; ">
                                        <strong>Follow</strong>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" style="background-color: #F5F8FA;">
                            <div class="row">
                                <div class="col-2">
                                    <img src="~/img/profil.png" style="border-radius: 100%;" alt="">
                                </div>
                                <div class="col-6">
                                    <span class="mdc-button__label ml-2 " style="float: left; font-size: 15px; font-weight: 700; ">Ramiz Dayı</span>  </br>
                                    <span class="mdc-button__label ml-2" style="float: left;">Dayi</span>
                                </div>
                                <div class="col-4" style="text-align: center;">
                                    <button type="button btn-outline-primary" class="btn  rounded-pill"
                                            style="color:#1DA1F2; border:#1DA1F2 ; text-align: center; border-width: 1px; border-style: solid; ">
                                        <strong>Follow</strong>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" style="background-color: #F5F8FA;">
                            <div class="row">
                                <div class="col-2">
                                    <img src="~/img/profil.png" style="border-radius: 100%;" alt="">
                                </div>
                                <div class="col-6">
                                    <span class="mdc-button__label ml-2" style="float: left;size: 15px; font-weight: 700; ">Haluk Levent</span>  </br>
                                    <span class="mdc-button__label ml-2" style="float: left;">haluklevent</span>
                                </div>
                                <div class="col-4" style="text-align: center;">
                                    <button type="button btn-outline-primary" class="btn  rounded-pill"
                                            style="color:#1DA1F2; border:#1DA1F2 ; text-align: center; border-width: 1px; border-style: solid; ">
                                        <strong>Follow</strong>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" style="background-color: #F5F8FA;">
                            <div class="row">
                                <div class="col-12">
                                    <a href="" style="text-decoration: none;">Show more</a>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 4.kısım -->
                <div class="row mt-3 " style="display: flex;">
                    <div class="ml-4">
                        <a href="" class="linkFont lnk">Terms</a>
                    </div>
                    <div class="ml-4">
                        <a href="#" class="linkFont lnk">Privacy policy</a>
                    </div>
                    <div class="ml-4">
                        <a href="" class="linkFont lnk">Cookies</a>
                    </div>
                    <div class="ml-4">
                        <a href="" class="linkFont lnk">Ads info</a>
                    </div>
                    <div class="ml-4">
                        <a href="" class="linkFont lnk">More</a>
                    </div>
                    <div class="ml-4">
                        <i class="fas fa-chevron-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row ml-2 mt-1">
                    <span class="linkFont">
                        © 2021 Twitter, Inc.
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>