@model User
@{
    Layout = null;
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="~/css/HomeStyle.css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="Favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Twitter</title>
</head>
<body>
    <img src="~/img/twtlogo.PNG" />
    <div class="card-body" style=" margin-left:27rem;">
        <form asp-controller="Account" asp-action="Login">
            <div class="form-group-row">
                <div class="col-md-6">
                    <input asp-for="Username" class="form-control" type="text" placeholder="e-mail or username">
                </div>
                <div class="col-md-6" style="margin-top:20px">
                    <input asp-for="Password" class="form-control" type="text" placeholder="password">
                </div>
                <div class="col-md-6" style="margin-top:20px">
                    <button type="button" style="color:white; background-color:#1DA1F2; text-align: center; box-shadow: none; width: 100%; border-radius:30px;" class="btn btn-block rounded-pill">Login</button>
                </div>

                <a asp-controller="Home" asp-action="Index" class="btn btn-link"  style="text-align: center; margin-left:8rem;">
                    Sign up for Twitter
                </a>
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-danger" role="alert" style="width: max-content;">
                        @TempData["Message"]
                    </div>
                }
            </div>
        </form>
    </div>
</body>
</html>
